<template name="about">
	<div class="container-fluid">
		<div class="row">
			<img src="images/about_whitesky.jpg" width="100%">
		</div>
	</div>

	<div class="section" style="padding-top: 40px;">
		<div class="container">
            
			<h2 class="text-center text-din-light text-uppercase big-space">Company History</h2>						
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-center text-description text-thin">
                        A progressively emerging aviation company in Indonesia, specialized in non scheduled (charter) flight and registered as Aircraft Operator Certificate (AOC) holder under AOC number 135-016. issued by Directorate General of Air Communications as local aviation authority in Indonesia. <br/><br/>
Established since 2002 as Kura Kura Aviation. In 2010, it has been in acquisition and changed name become Whitesky Aviation.
                        
                        <ul class="text-thin text-description">
                            <li>Whitesky Aviation registered as member of Helicopter Association International (HAI)</li>
                            <li>Indonesian Air Carrier Association (INACA)</li>
                            <li>ISO 9001 : 2008 Accreditation by Lloyd’s Register Quality Assurance Limited with Approval Certificate No. JKT6016509 in 2013</li>
                            <li>fully complying to International Standard for Business Aircraft Operations (ISBAO) Stage 1</li>
                        </ul>
                    </p> 
                    <center style="margin: 25px 0;">
                        <img src="images/certified.png">
                    </center>
                    
				</div>
			</div>
            
            <h2 class="text-center text-din-light text-uppercase big-space">Values</h2>						
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-center text-description text-thin">
                        Safety<br/>
                        Services Excellence<br/>
                        Professionalism<br/>
                        Reliable<br/>

                    </p>   
				</div>
			</div>
        
            <h2 class="text-center text-din-light text-uppercase big-space">Vision</h2>						
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-center text-description text-thin">
                        Provide an Air Transportation that suitable to Customer Flexibility
                    </p>   
				</div>
			</div>
        
            <h2 class="text-center text-din-light text-uppercase big-space">Mission</h2>						
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-center text-description text-thin">
                        Provide an Air Transportation services that are Unsurpasses in safety and Customer Satisfaction
                    </p>   
				</div>
			</div>
		</div>
	</div>
</template>