<template name="aerialSurvey">
	<div class="container-fluid">
		<div class="row">
			<img src="images/service_2_small.jpg" width="100%">
		</div>
	</div>
		
	<div class="section" style="padding-top: 40px;">
		<div class="container">
            
			<h2 class="text-din-light text-uppercase big-space">Aerial Survey</h2>	
            <hr>
			<div class="row" data-animation-effect="fadeIn">
				<div class="col-md-12">
                    
                    <p class="text-description text-thin">
                        Our fixed wing and expert pilot used to support mining and oil company to do aerial survey needs. 
                    </p> 
                    
				</div>
			</div>
		</div>
	</div>
		
</template>