<template name="aircraftManagement">
	<div class="container-fluid">
		<div class="row">
			<img src="images/aircraftManagement.jpg" width="100%">
		</div>
	</div>
	<div class="section" style="padding-top: 40px;">
		<div class="container">
            <h2 class="text-din-light text-uppercase big-space">Aircraft Management</h2>	
            <hr>
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-description text-thin">
                        We provide aircraft management for private owner and corporate, we offer aircraft management such as consultation in selecting operating aircraft and aircraft maintenance with the highest standard operation and safety.    
                    </p> 
                    
				</div>
			</div>
		</div>
	</div>
</template>