<template name="carousel">
    <div class="owl-carousel">
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">VIP Transport</h1>
        		<p class="text-mobile">Tailored for individuals and groups who demand rapid and efficient transport to support their business</p>
        		<center><a class="btn btn-default" href="vipTransport" role="button">Learn More</a></center>
        	</div>
        	
        	<img src="images/service_1.jpg">
        </div>
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">Aircraft Management</h1>
        		<p class="text-mobile">We provide aircraft management for private owner and corporate</p>
        		<center><a class="btn btn-default" href="aircraftManagement" role="button">Learn More</a></center>
        	</div>
        	<img src="images/banner3.jpg">
        </div>
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">Aerial Survey</h1>
        		<p class="text-mobile">Our fixed wing and expert pilot used to support mining and oil company to do aerial survey needs</p>
        		<center><a class="btn btn-default" href="aerialSurvey" role="button">Learn More</a></center>
        	</div>
        	<img src="images/service_2.jpg">
        </div>
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">Medevac</h1>
        		<p class="text-mobile">Our quick response team will support you in any emergency condition</p>
        		<center><a class="btn btn-default" href="medevac" role="button">Learn More</a></center>
        	</div>
        	<img src="images/service_5.jpg">
        </div>
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">Luxury Leisure</h1>
        		<p class="text-mobile">It's time for Panoramic Tour!</p>
        		<center><a class="btn btn-default" href="luxuryLeisure" role="button">Learn More</a></center>
        	</div>
        	<img src="images/service_3.jpg">
        </div>
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">Special Events</h1>
        		<p class="text-mobile">flying in with a helicopter paves the way for memorable experiences</p>
        		<center><a class="btn btn-default" href="specialEvents" role="button">Learn More</a></center>
        	</div>
        	<img src="images/service_4.jpg">
        </div>
        <div class="item">
        	<div class="shortDescription">
        		<h1 class="text-white text-center">Ground Support</h1>
        		<p class="text-mobile">Every pick-up is a mission. Every drop-off a success</p>
        		<center><a class="btn btn-default" href="groundSupport" role="button">Learn More</a></center>
        	</div>
        	<img src="images/service_6.jpg">
        </div>
    </div>
</template>