<template name="footer">
	<!-- footer start -->
	<!-- ================ -->
	<footer id="footer">

		<!-- .footer start -->
		<!-- ================ -->
		<div class="footer section">
			<div class="container">
				<h1 class="text-din-light text-center" id="contact">Contact Us</h1>
				<div class="space"></div>
				
                <div class="row">
                    <div class="col-sm-12">
                        <p class="large text-center text-thin">Our professional and friendly customer officers are ready to help you. We have 24 hour stand by crew to respond your personal flight arrangement.
                        For inquiry, please contact us:<br/>
                            <span style="font-size: 30px;" class="text-thin">+62 811 933 1111</span>
                            <br/>
                            <br/>
                            <span style="font-size: 18px;" class="text-thin">Or Email us at <a href="mailto:sales@whiteskyaviation.co.id">sales@whiteskyaviation.co.id</a></span>
                        </p>
                    </div>
                </div>
                
                <div class="row space">
					<div class="col-sm-4">
						<div class="footer-content">
                            <address>
                                <p class="large">PT. Whitesky Aviation</p> 
                                <p>
                                    Secure Building Tower A1 1st Floor<br/>
                                    Jl. Raya Protokol Halim Perdanakusuma<br/>
                                    Jakarta 13610 - Indonesia
                                </p>
                            </address>
							
							<ul class="list-icons">
<!--									<li><i class="fa fa-map-marker pr-10"></i> One infinity loop, 54100</li>-->
								<li><i class="fa fa-phone pr-10"></i> +62 21 80890066</li>
								<li><i class="fa fa-fax pr-10"></i> +62 21 80890655</li>
                                <li><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://s3-ap-southeast-1.amazonaws.com/wpmedia-shared/media/pdf/helicity_profile.pdf">Download Brochure</a></li>
<!--									<li><i class="fa fa-envelope-o pr-10"></i> your@email.com</li>-->
							</ul>
						</div>
					</div>
                    
                    <div class="col-sm-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0636133174908!2d106.88343299999998!3d-6.255350099999988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3b8897fe0cfbe43f!2sPT+Whitesky+Aviation!5e0!3m2!1sen!2sid!4v1443674555230" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
				</div>
			</div>
		</div>
		<!-- .footer end -->

	</footer>
	<!-- footer end -->

	<a href="#0" class="cd-top">Top</a>
</template>