<template name="groundSupport">
	<div class="container-fluid">
		<div class="row">
			<img src="images/service_6_small.jpg" width="100%">
		</div>
	</div>

	<div class="section" style="padding-top: 40px;">
		<div class="container">
            
			<h2 class="text-din-light text-uppercase big-space">Ground Support</h2>
            <h3 class="sub-title text-uppercase">Executive Lounge, Personalize VIP Handling, Limousine</h3>
            <hr>
			<div class="row" data-animation-effect="fadeIn">
				<div class="col-md-12">
                    
                    <p class="text-description text-thin gap-bottom-small">
                        Every pick-up is a mission. Every drop-off a success. On request, we provide one driver and one personal VIP handling officer, to drive you to and from your flight destination, in style and, of course, on time.
                    </p> 
                    
				</div>
			</div>
            
            <div class="row">
				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/ground_big_1.jpg" title="Ground Support">
						<img src="images/ground_small_1.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/ground_big_2.jpg" title="Ground Support">
						<img src="images/ground_small_2.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/ground_big_3.jpg" title="Ground Support">
						<img src="images/ground_small_3.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/ground_big_4.jpg" title="Ground Support">
						<img src="images/ground_small_4.jpg" alt="" />
					</a>
				</div>
			</div>
            
		</div>
	</div>
</template>