<template name="ibe">
	<div class="ibe">
		<div class="col-sm-4 ibe-container hidden-xs" style="display: none;">
            <center><img src="images/logo_hct_small.png" width="80" style="padding-bottom: 10px;"></center>
            <form class="form-inline">
               <div class="btn-group" role="group" aria-label="">
				  <button type="button" class="btn btn-default">One Way</button>
				  <button type="button" class="btn btn-default">Custom Route</button>
				</div>
               <div class="form-group">
                    <p class="text-din-light text-white" style="margin-bottom: 0">Departure</p>
                    <div class="col-sm-6" style="margin-left: -15px;">
                   		<input 
	                      type='text' 
	                      class="form-control no-radius form-control-custom" 
	                      id='datetimepicker4' 
	                      placeholder="Departure city" 
	                    /> 	
                    </div>
                    <div class="col-sm-6">
                   		<input 
	                      type='text' 
	                      class="form-control no-radius form-control-custom" 
	                      id='datetimepicker4' 
	                      placeholder="helipad" 
	                    /> 	
                    </div>
                </div>
                <div class="clearfix gap-bottom-small"></div>

                <div class="form-group">
                	<p class="text-din-light text-white" style="margin-bottom: 0">Arrival</p>
                    <div class="col-sm-6" style="margin-left: -15px;">
                   		<input 
	                      type='text' 
	                      class="form-control no-radius form-control-custom" 
	                      id='datetimepicker4' 
	                      placeholder="Departure Date" 
	                    /> 	
                    </div>
                    <div class="col-sm-6">
                   		<input 
	                      type='text' 
	                      class="form-control no-radius form-control-custom" 
	                      id='datetimepicker4' 
	                      placeholder="Select Time" 
	                    /> 	
                    </div>
                </div>

                <div class="clearfix gap-bottom-small"></div>

                <div class="col-sm-6">
                	<a href="departure" 
                		class="btn btn-default dropdown-toggle btn-block btn-success no-radius" 
                		type="button">Next Step
                	</a>
                </div>
                

                <div class="clearfix gap-bottom-small"></div>
                
            </form>    
        </div>
		<img src="images/banner.jpg" width="100%">	
	</div>
</template>