<template name="login">
  <div class="col-sm-8 col-sm-offset-4">  
      <img src="images/background.jpg" class="bg">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-4">
          <h3 class="text-white text-center gap-bottom text-din-light text-uppercase">Login</h3>
          <form id="login" class="login">
            <div class="form-group">
              <input type="email" name="emailAddress" class="form-control form-control-custom no-radius" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control form-control-custom no-radius" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success btn-block no-radius" value="Login">
            </div>
          </form>
            <div class="clearfix"></div>
            <p class="text-center text-thin"><a class="text-white" href="{{pathFor 'recover-password'}}">Forgot Password?</a></p>
            <p class="text-center text-thin"><a class="text-white" href="{{pathFor 'signup'}}">or Sign Up</a></p>
        </div>
      </div>
  </div>
</template>