<template name="luxuryLeisure">
	<div class="container-fluid">
		<div class="row">
			<img src="images/service_3_small.jpg" width="100%">
		</div>
	</div>

	<div class="section" style="padding-top: 40px;">
		<div class="container">
            
			<h2 class="text-din-light text-uppercase big-space">Luxury Leisure</h2>
            <h3 class="sub-title text-uppercase">Sunny City, Amazing Night City, West Java Ring Of Fire,  Islands Explore</h3>
            <hr>
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-description text-thin gap-bottom-small">
                        It's time for panoramic tour!<br/>
                        One of the advantages of helicopters are manouverability: high, low, fast, slow, and you can turn around easily to go back to the sight that mesmerized you a moment ago. Our highly skilled pilots enable fascinating Panoramic Tours.
                    </p> 
                    
				</div>
			</div>
            
            <div class="row">
				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/luxury_leisure_big_1.jpg" title="Luxury Leisure">
						<img src="images/luxury_leisure_small_1.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/luxury_leisure_big_2.jpg" title="Luxury Leisure">
						<img src="images/luxury_leisure_small_2.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/luxury_leisure_big_3.jpg" title="Luxury Leisure">
						<img src="images/luxury_leisure_small_3.jpg" alt="" />
					</a>
				</div>
			</div>
            
		</div>
	</div>
</template>