<template name="medevac">
	<div class="container-fluid">
		<div class="row">
			<img src="images/service_5_small.jpg" width="100%">
		</div>
	</div>

	<div class="section" style="padding-top: 40px;">
		<div class="container">
            
			<h2 class="text-din-light text-uppercase big-space">Medevac</h2>
            <h3 class="sub-title text-uppercase">Hospital</h3>
            <hr>
			<div class="row">
				<div class="col-md-12">
                    
                    <p class="text-description text-thin">
                        Our quick response team will support you in any emergency condition we have cooperate with several hospital that have helipad facility ad support by high medical technology and reliable medical team.
                    </p> 
                    
				</div>
			</div>
            
		</div>
	</div>
</template>