<template name="specialEvents">
	<div class="container-fluid">
		<div class="row">
			<img src="images/service_4_small.jpg" width="100%">
		</div>
	</div>

	<div class="section" style="padding-top: 40px;">
		<div class="container">
            
			<h2 class="text-din-light text-uppercase big-space">Special Events</h2>
            <h3 class="sub-title text-uppercase">Wedding, Golf, Beach, Picnic</h3>
            <hr>
			<div class="row" data-animation-effect="fadeIn">
				<div class="col-md-12">
                    
                    <p class="text-description text-thin gap-bottom-small">
                        Whether weddings, golf trips or picnics, even family vactions, flying in with a helicopter paves the way for memorable experiences.
                    </p> 
                    
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/special_event_big_1.jpg" title="Special Events">
						<img src="images/special_event_small_1.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/special_event_big_2.jpg" title="Special Events">
						<img src="images/special_event_small_2.jpg" alt="" />
					</a>
				</div>

				<div class="col-xs-6 col-md-3">
					<a class="fancybox" rel="gallery1" href="images/special_event_big_3.jpg" title="Special Events">
						<img src="images/special_event_small_3.jpg" alt="" />
					</a>
				</div>
			</div>
            
		</div>
	</div>
</template>